In [1]:
import pandas as pd
# df_item = pd.read_csv('./tianchi_fresh_comp_train_item.csv')
df_user = pd.read_csv('./tianchi_fresh_comp_train_user.csv')

根据日期范围11.18~12.18分割数据集：

- 抽取11.18~12.17的数据作为训练集
- 抽取12.18的数据作为测试集
- 制作标签：
- 其中11.18~12.17的数据集的标签用这段期间内是否曾经过买过来拟合买/不买

用人工规则创作特征：
脑洞越大，越贴近业务实际越好

- 商品总浏览次数
- 商品前一天，也就是17号有没有加入购物车：前一天加入购物车的最有可能被买
- 商品有没有曾经（包括前一天）被加购物车，曾经被加购物车的商品最有可能被买，即便不是前一天加进去的
- 商品有没有曾经被收藏：有收藏的最有可能被买
- 商品总浏览次数：浏览的越多越有可能被买
- 该用户总购买次数：用户购买东西越多，用户购买力越强
- 该商品被购买次数：商品被买的越多，该商品越畅销

训练集：

| 用户商品id|总收藏次数|在购物车次数|16号加购物车数量|总浏览次数|用户购买次数|商品被买次数|17号是否购买|
|---|---|---|---|---|---|
|10001082-4076|5|2|1|5|20|30|否

测试集

| 用户商品id|总收藏次数|在购物车次数|17号加购物车数量|总浏览次数|用户购买次数|商品被买次数|18号是否购买|
|---|---|---|---|---|---|
|10001082-4076|5|2|1|5|20|30|是

要提交的最终模型训练集:

|用户商品id|总收藏次数|在购物车次数|18号加购物车数量|总浏览次数|用户购买次数|商品被买次数|19号是否购买|
|---|---|---|---|---|---|
|10001082-4076|5|2|1|5|20|30|待预测

最后根据得到的预测结果筛选出用户商品id和购买为**是**的列，整理成用户-商品id的对

具体思路：

- 用户购买数:用`groupby` 将用户id作为一个键，然后`count(behavior_type)` 然后再取behavior_type=4的count值

- 商品被购买次数:用`groupby` 将商品id作为一个键，然后`count(behavior_type)` 然后再取behavior_type=4的count值

- 总浏览次数：用`groupby`将用户id和商品id作为一个键。然后`count(behavior_type)` 然后再取behavior_type=1的count值

- 总收藏次数：用`groupby`将用户id和商品id作为一个键。然后`count(behavior_type)` 然后再取behavior_type=2的count值

- 在购物车次数：用`groupby`将用户id和商品id作为一个键。然后`count(behavior_type)` 然后再取behavior_type=3的count值

- 前一天在购物车次数：用`groupby`将用户id和商品id作为一个键。然后`count(behavior_type)` 然后再取behavior_type=3 且 time = 前一天日期 的count值

不会groupby和count的[拿去](https://stackoverflow.com/questions/10373660/converting-a-pandas-groupby-object-to-dataframe)

In [2]:
#删掉我用不上的地理哈希值
del df_user['user_geohash']

In [3]:
df_user.head()

    user_id    item_id  behavior_type  item_category           time
0  10001082  285259775              1           4076  2014-12-08 18
1  10001082    4368907              1           5503  2014-12-12 12
2  10001082    4368907              1           5503  2014-12-12 12
3  10001082   53616768              1           9762  2014-12-02 15
4  10001082  151466952              1           5232  2014-12-12 11

In [4]:
df_user.shape

(23291027, 5)

In [5]:
# 用户购买次数
df_user_behavior_count = pd.DataFrame({'count_user_buy' : df_user[['user_id','behavior_type']].groupby(['user_id','behavior_type']).size()}).reset_index()
# 取出behavior_type=4的行
df_user_buy_count = df_user_behavior_count.loc[df_user_behavior_count['behavior_type'] == 4]
# 删掉behavior_type以便用来join
del df_user_buy_count['behavior_type']
#与原来的user表join在一起:
# eg: caller.join(other.set_index('key'), on='key')
df_user = df_user.join(df_user_buy_count.set_index('user_id'), on='user_id')
# 删掉这两个临时数据表
del df_user_buy_count
del df_user_behavior_count
df_user.head()

,user_id,item_id,behavior_type,item_category,time,count_user_buy
0,10001082,285259775,1,4076,2014-12-08 18,4.0
1,10001082,4368907,1,5503,2014-12-12 12,4.0
2,10001082,4368907,1,5503,2014-12-12 12,4.0
3,10001082,53616768,1,9762,2014-12-02 15,4.0
4,10001082,151466952,1,5232,2014-12-12 11,4.0

In [6]:
# 商品被购买次数:
df_item_behavior_count = pd.DataFrame({'count_item_bought' : df_user[['item_category','behavior_type']].groupby(['item_category','behavior_type']).size()}).reset_index()
df_item_bought_count =  df_item_behavior_count.loc[df_item_behavior_count['behavior_type'] == 4]
del df_item_bought_count['behavior_type']
df_user = df_user.join(df_item_bought_count.set_index('item_category'), on='item_category')
del df_item_bought_count
del df_item_behavior_count
df_user.head()

,user_id,item_id,behavior_type,item_category,time,count_user_buy,count_item_bought
0,10001082,285259775,1,4076,2014-12-08 18,4.0,44.0
1,10001082,4368907,1,5503,2014-12-12 12,4.0,690.0
2,10001082,4368907,1,5503,2014-12-12 12,4.0,690.0
3,10001082,53616768,1,9762,2014-12-02 15,4.0,74.0
4,10001082,151466952,1,5232,2014-12-12 11,4.0,3049.0

In [7]:
# 在购物车次数
df_user_item_behavior_count = pd.DataFrame({'count_behavior' : df_user[['user_id','item_category','behavior_type']].groupby(['user_id','item_category','behavior_type']).size()}).reset_index()

In [8]:
df_user_item_behavior_count

           user_id  item_category  behavior_type  count_behavior
0              492            280              1               5
1              492            451              1               2
2              492            675              1               2
3              492           2170              1              38
4              492           2170              3               1
5              492           2298              1               2
6              492           2413              1               5
7              492           2926              1               3
8              492           3424              1               2
9              492           4640              1               2
10             492           4676              1               3
11             492           4817              1               1
12             492           6000              1               9
13             492           6247              1               9
14             492           6344              1              39
15             492           6344              3               2
16             492           6344              4               3
17             492           6648              1               6
18             492           6986              1               2
19             492           7094              1               2
20             492           7440              1              11
21             492           7551              1               3
22             492           7639              1               3
23             492           7712              1               3
24             492           7917              1               9
25             492           7917              4               1
26             492           8182              1               5
27             492           8877              1               4
28             492           9247              1               3
29             492           9297              1               2
...            ...            ...            ...             ...
2325358  142442955           6657              3               1
2325359  142442955           6657              4               1
2325360  142442955           8649              1               6
2325361  142442955           8792              1               9
2325362  142442955           9480              1               2
2325363  142442955           9518              1               9
2325364  142442955          10263              1               4
2325365  142442955          10548              1              22
2325366  142442955          10548              2               1
2325367  142442955          10548              3               1
2325368  142442955          10548              4               1
2325369  142442955          10730              1              36
2325370  142442955          10730              3               2
2325371  142442955          10730              4               1
2325372  142442955          11470              1               6
2325373  142442955          12135              1              15
2325374  142442955          12135              3               2
2325375  142442955          12135              4               2
2325376  142442955          12407              1               2
2325377  142442955          12569              1               6
2325378  142442955          12569              3               1
2325379  142442955          12569              4               2
2325380  142442955          12758              1              14
2325381  142442955          12758              3               3
2325382  142442955          13224              1              13
2325383  142442955          13224              3               1
2325384  142442955          13224              4               1
2325385  142442955          13230              1               1
2325386  142442955          13334              1               9
2325387  142442955          14079              1               5

[2325388 rows x 4 columns]

In [9]:
# 某个商品子类被某个用户浏览的总次数
df_user_item_look_count =  df_user_item_behavior_count.loc[df_user_item_behavior_count['behavior_type'] == 1]
df_user_item_look_count = df_user_item_look_count.rename(columns = {'count_behavior':'count_look'})
del df_user_item_look_count['behavior_type']
# df_user_item_look_count
# 
# del df_user_item_look_count

In [10]:
# 某个商品子类被某个用户收藏的总次数
df_user_item_favor_count =  df_user_item_behavior_count.loc[df_user_item_behavior_count['behavior_type'] == 2]
df_user_item_favor_count = df_user_item_favor_count.rename(columns = {'count_behavior':'count_favor'})
del df_user_item_favor_count['behavior_type']
# df_user_item_favor_count
# 
# del df_user_item_favor_count

In [13]:
# 某个商品子类被某个用户添加购物车的次数
df_user_item_addcart_count =  df_user_item_behavior_count.loc[df_user_item_behavior_count['behavior_type'] == 3]
df_user_item_addcart_count = df_user_item_addcart_count.rename(columns = {'count_behavior':'count_addcart'})
del df_user_item_addcart_count['behavior_type']
# df_user_item_favor_count
# 
# del df_user_item_addcart_count

In [16]:
df_user_item_look_count

           user_id  item_category  count_look
0              492            280           5
1              492            451           2
2              492            675           2
3              492           2170          38
5              492           2298           2
6              492           2413           5
7              492           2926           3
8              492           3424           2
9              492           4640           2
10             492           4676           3
11             492           4817           1
12             492           6000           9
13             492           6247           9
14             492           6344          39
17             492           6648           6
18             492           6986           2
19             492           7094           2
20             492           7440          11
21             492           7551           3
22             492           7639           3
23             492           7712           3
24             492           7917           9
26             492           8182           5
27             492           8877           4
28             492           9247           3
29             492           9297           2
30             492           9363          11
31             492           9540           1
32             492           9542           2
33             492           9559          27
...            ...            ...         ...
2325342  142442955           2884           2
2325343  142442955           3015          40
2325345  142442955           3424           2
2325346  142442955           3472           7
2325347  142442955           3528           4
2325348  142442955           3561           6
2325349  142442955           3789           3
2325350  142442955           3926          12
2325351  142442955           4370           7
2325352  142442955           5027           8
2325354  142442955           5566           2
2325355  142442955           6255          13
2325356  142442955           6513           9
2325357  142442955           6657          10
2325360  142442955           8649           6
2325361  142442955           8792           9
2325362  142442955           9480           2
2325363  142442955           9518           9
2325364  142442955          10263           4
2325365  142442955          10548          22
2325369  142442955          10730          36
2325372  142442955          11470           6
2325373  142442955          12135          15
2325376  142442955          12407           2
2325377  142442955          12569           6
2325380  142442955          12758          14
2325382  142442955          13224          13
2325385  142442955          13230           1
2325386  142442955          13334           9
2325387  142442955          14079           5

[1723208 rows x 3 columns]

In [18]:
del df_user['item_id']
del df_user['behavior_type']
del df_user['time']

In [20]:
df_user = df_user.drop_duplicates()

In [21]:
df_user

            user_id  item_category  count_user_buy  count_item_bought
0          10001082           4076             4.0               44.0
1          10001082           5503             4.0              690.0
3          10001082           9762             4.0               74.0
4          10001082           5232             4.0             3049.0
7          10001082          10894             4.0             1678.0
8          10001082           6513             4.0             2195.0
10         10001082           2825             4.0             1154.0
12         10001082           3200             4.0               37.0
13         10001082          10576             4.0               21.0
17         10001082           7079             4.0              119.0
18         10001082           6669             4.0              105.0
21         10001082           5894             4.0             1690.0
23         10001082          10523             4.0              384.0
24         10001082           4722             4.0               42.0
26         10001082           6000             4.0              583.0
27         10001082          10223             4.0              385.0
38         10001082           5653             4.0               97.0
43         10001082          12147             4.0               76.0
44         10001082           5176             4.0               23.0
54         10001082           6255             4.0              529.0
58         10001082           1863             4.0             3647.0
59         10001082          13230             4.0             1753.0
60         10001082           7229             4.0              130.0
65         10001082           5334             4.0              140.0
89         10001082           9614             4.0              545.0
90         10001082           4370             4.0             1524.0
95         10001082           9666             4.0                1.0
101        10001082          12097             4.0               84.0
132        10001082           5027             4.0             1694.0
211       100029775          13041             5.0              739.0
...             ...            ...             ...                ...
23290593   65341491          11552             1.0              908.0
23290597   65341491          13926             1.0              480.0
23290602   65341491           9004             1.0                1.0
23290611   65341491          12435             1.0                6.0
23290612   65341491          11489             1.0              213.0
23290613   65341491           7580             1.0               82.0
23290617   65341491           5491             1.0                3.0
23290619   65341491           9001             1.0              228.0
23290622   65341491           4269             1.0              790.0
23290626   65341491           2463             1.0               60.0
23290631   65341491          12090             1.0              248.0
23290632   65341491            338             1.0               24.0
23290648   65341491          12449             1.0                2.0
23290654   65341491           3662             1.0              786.0
23290655   65341491          10968             1.0                2.0
23290662   65341491          13288             1.0              138.0
23290679   65341491           3093             1.0              178.0
23290684   65341491           2603             1.0                2.0
23290718   65341491          10314             1.0              162.0
23290726   65341491           6997             1.0                4.0
23290731   65341491           5522             1.0               64.0
23290749   65341491           8132             1.0              152.0
23290819   65341491          11537             1.0             1172.0
23290835   65341491           3628             1.0             1228.0
23290838   65341491           7607             1.0                6.0
23290859   65341491           4296             1.0               54.0
23290866   65341491           7297             1.0               36.0
23290939   65341491           3673             1.0             1134.0
23290953   65341491           5140             1.0               11.0
23291006   65341491          11721             1.0               91.0

[1728282 rows x 4 columns]

In [22]:
df_user = pd.merge(df_user, df_user_item_look_count, how='left', left_on=['user_id','item_category'], right_on=['user_id','item_category'])
df_user = pd.merge(df_user, df_user_item_favor_count, how='left', left_on=['user_id','item_category'], right_on=['user_id','item_category'])
df_user = pd.merge(df_user, df_user_item_addcart_count, how='left', left_on=['user_id','item_category'], right_on=['user_id','item_category'])

In [23]:
df_user

,user_id,item_category,count_user_buy,count_item_bought,count_look,count_favor,count_addcart
0,10001082,4076,4.0,44.0,1.0,NaN,NaN
1,10001082,5503,4.0,690.0,6.0,NaN,NaN
2,10001082,9762,4.0,74.0,7.0,NaN,NaN
3,10001082,5232,4.0,3049.0,19.0,NaN,NaN
4,10001082,10894,4.0,1678.0,10.0,NaN,NaN
5,10001082,6513,4.0,2195.0,11.0,NaN,NaN
6,10001082,2825,4.0,1154.0,22.0,NaN,NaN
7,10001082,3200,4.0,37.0,2.0,NaN,NaN
8,10001082,10576,4.0,21.0,45.0,NaN,NaN
9,10001082,7079,4.0,119.0,3.0,NaN,NaN
10,10001082,6669,4.0,105.0,7.0,NaN,NaN
11,10001082,5894,4.0,1690.0,11.0,NaN,NaN
12,10001082,10523,4.0,384.0,3.0,NaN,NaN
13,10001082,4722,4.0,42.0,1.0,NaN,NaN
14,10001082,6000,4.0,583.0,15.0,NaN,NaN
15,10001082,10223,4.0,385.0,7.0,NaN,NaN
16,10001082,5653,4.0,97.0,2.0,NaN,NaN
17,10001082,12147,4.0,76.0,2.0,NaN,NaN
18,10001082,5176,4.0,23.0,17.0,NaN,NaN
19,10001082,6255,4.0,529.0,2.0,NaN,NaN
20,10001082,1863,4.0,3647.0,2.0,NaN,NaN
21,10001082,13230,4.0,1753.0,1.0,NaN,NaN
22,10001082,7229,4.0,130.0,1.0,NaN,NaN
23,10001082,5334,4.0,140.0,1.0,NaN,NaN
24,10001082,9614,4.0,545.0,3.0,NaN,NaN
25,10001082,4370,4.0,1524.0,1.0,NaN,NaN
26,10001082,9666,4.0,1.0,1.0,NaN,NaN
27,10001082,12097,4.0,84.0,2.0,NaN,NaN
28,10001082,5027,4.0,1694.0,2.0,NaN,NaN
29,100029775,13041,5.0,739.0,2.0,NaN,NaN
...,...,...,...,...,...,...,...
1728252,65341491,11552,1.0,908.0,2.0,NaN,NaN
1728253,65341491,13926,1.0,480.0,2.0,NaN,NaN
1728254,65341491,9004,1.0,1.0,2.0,NaN,NaN
1728255,65341491,12435,1.0,6.0,4.0,NaN,NaN
1728256,65341491,11489,1.0,213.0,3.0,NaN,NaN
1728257,65341491,7580,1.0,82.0,5.0,NaN,NaN
1728258,65341491,5491,1.0,3.0,1.0,NaN,NaN
1728259,65341491,9001,1.0,228.0,5.0,NaN,NaN
1728260,65341491,4269,1.0,790.0,3.0,1.0,NaN
1728261,65341491,2463,1.0,60.0,3.0,NaN,NaN
1728262,65341491,12090,1.0,248.0,2.0,NaN,NaN
1728263,65341491,338,1.0,24.0,4.0,NaN,NaN
1728264,65341491,12449,1.0,2.0,2.0,NaN,NaN
1728265,65341491,3662,1.0,786.0,7.0,NaN,NaN
1728266,65341491,10968,1.0,2.0,2.0,NaN,NaN
1728267,65341491,13288,1.0,138.0,2.0,1.0,NaN
1728268,65341491,3093,1.0,178.0,6.0,1.0,NaN
1728269,65341491,2603,1.0,2.0,2.0,NaN,NaN
1728270,65341491,10314,1.0,162.0,2.0,NaN,NaN
1728271,65341491,6997,1.0,4.0,2.0,NaN,NaN
1728272,65341491,5522,1.0,64.0,2.0,NaN,NaN
1728273,65341491,8132,1.0,152.0,1.0,NaN,NaN
1728274,65341491,11537,1.0,1172.0,2.0,NaN,NaN
1728275,65341491,3628,1.0,1228.0,2.0,NaN,NaN
1728276,65341491,7607,1.0,6.0,1.0,NaN,NaN
1728277,65341491,4296,1.0,54.0,2.0,NaN,NaN
1728278,65341491,7297,1.0,36.0,2.0,NaN,NaN
1728279,65341491,3673,1.0,1134.0,2.0,NaN,NaN
1728280,65341491,5140,1.0,11.0,2.0,NaN,NaN
1728281,65341491,11721,1.0,91.0,2.0,NaN,NaN

In [26]:
df_user = df_user.fillna(0)

In [27]:
df_user

,user_id,item_category,count_user_buy,count_item_bought,count_look,count_favor,count_addcart
0,10001082,4076,4.0,44.0,1.0,0.0,0.0
1,10001082,5503,4.0,690.0,6.0,0.0,0.0
2,10001082,9762,4.0,74.0,7.0,0.0,0.0
3,10001082,5232,4.0,3049.0,19.0,0.0,0.0
4,10001082,10894,4.0,1678.0,10.0,0.0,0.0
5,10001082,6513,4.0,2195.0,11.0,0.0,0.0
6,10001082,2825,4.0,1154.0,22.0,0.0,0.0
7,10001082,3200,4.0,37.0,2.0,0.0,0.0
8,10001082,10576,4.0,21.0,45.0,0.0,0.0
9,10001082,7079,4.0,119.0,3.0,0.0,0.0
10,10001082,6669,4.0,105.0,7.0,0.0,0.0
11,10001082,5894,4.0,1690.0,11.0,0.0,0.0
12,10001082,10523,4.0,384.0,3.0,0.0,0.0
13,10001082,4722,4.0,42.0,1.0,0.0,0.0
14,10001082,6000,4.0,583.0,15.0,0.0,0.0
15,10001082,10223,4.0,385.0,7.0,0.0,0.0
16,10001082,5653,4.0,97.0,2.0,0.0,0.0
17,10001082,12147,4.0,76.0,2.0,0.0,0.0
18,10001082,5176,4.0,23.0,17.0,0.0,0.0
19,10001082,6255,4.0,529.0,2.0,0.0,0.0
20,10001082,1863,4.0,3647.0,2.0,0.0,0.0
21,10001082,13230,4.0,1753.0,1.0,0.0,0.0
22,10001082,7229,4.0,130.0,1.0,0.0,0.0
23,10001082,5334,4.0,140.0,1.0,0.0,0.0
24,10001082,9614,4.0,545.0,3.0,0.0,0.0
25,10001082,4370,4.0,1524.0,1.0,0.0,0.0
26,10001082,9666,4.0,1.0,1.0,0.0,0.0
27,10001082,12097,4.0,84.0,2.0,0.0,0.0
28,10001082,5027,4.0,1694.0,2.0,0.0,0.0
29,100029775,13041,5.0,739.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...
1728252,65341491,11552,1.0,908.0,2.0,0.0,0.0
1728253,65341491,13926,1.0,480.0,2.0,0.0,0.0
1728254,65341491,9004,1.0,1.0,2.0,0.0,0.0
1728255,65341491,12435,1.0,6.0,4.0,0.0,0.0
1728256,65341491,11489,1.0,213.0,3.0,0.0,0.0
1728257,65341491,7580,1.0,82.0,5.0,0.0,0.0
1728258,65341491,5491,1.0,3.0,1.0,0.0,0.0
1728259,65341491,9001,1.0,228.0,5.0,0.0,0.0
1728260,65341491,4269,1.0,790.0,3.0,1.0,0.0
1728261,65341491,2463,1.0,60.0,3.0,0.0,0.0
1728262,65341491,12090,1.0,248.0,2.0,0.0,0.0
1728263,65341491,338,1.0,24.0,4.0,0.0,0.0
1728264,65341491,12449,1.0,2.0,2.0,0.0,0.0
1728265,65341491,3662,1.0,786.0,7.0,0.0,0.0
1728266,65341491,10968,1.0,2.0,2.0,0.0,0.0
1728267,65341491,13288,1.0,138.0,2.0,1.0,0.0
1728268,65341491,3093,1.0,178.0,6.0,1.0,0.0
1728269,65341491,2603,1.0,2.0,2.0,0.0,0.0
1728270,65341491,10314,1.0,162.0,2.0,0.0,0.0
1728271,65341491,6997,1.0,4.0,2.0,0.0,0.0
1728272,65341491,5522,1.0,64.0,2.0,0.0,0.0
1728273,65341491,8132,1.0,152.0,1.0,0.0,0.0
1728274,65341491,11537,1.0,1172.0,2.0,0.0,0.0
1728275,65341491,3628,1.0,1228.0,2.0,0.0,0.0
1728276,65341491,7607,1.0,6.0,1.0,0.0,0.0
1728277,65341491,4296,1.0,54.0,2.0,0.0,0.0
1728278,65341491,7297,1.0,36.0,2.0,0.0,0.0
1728279,65341491,3673,1.0,1134.0,2.0,0.0,0.0
1728280,65341491,5140,1.0,11.0,2.0,0.0,0.0
1728281,65341491,11721,1.0,91.0,2.0,0.0,0.0